
.marginTop{
	margin-top: 44px !important;

	
	-webkit-animation: scrollSubTop 500ms forwards;
	-moz-animation: scrollSubTop 500ms forwards;
	-ms-animation: scrollSubTop 500ms forwards;
	animation: scrollSubTop 500ms forwards;
}
@keyframes scrollSubTop {
	from { margin-top: 44px;}
	to {margin-top: 0px}
}
/* Firefox < 16 */
@-moz-keyframes scrollSubTop {
	from { margin-top: 44px;}
	to {margin-top: 0px}
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scrollSubTop {
	from { margin-top: 44px;}
	to {margin-top: 0px}
}

///*********************************

.hiddenBar{
	-webkit-animation: scrollTop 500ms forwards;
	-moz-animation: scrollTop 500ms forwards;
	-ms-animation: scrollTop 500ms forwards;
	animation: scrollTop 500ms forwards;
}
@keyframes scrollTop {
	from { top: 0px;}
	to {top: -56px}
}
/* Firefox < 16 */
@-moz-keyframes scrollTop {
	from {top: 0px;}
	to {top: -56px}
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes scrollTop {
	from {top: 0px;}
	to {top: -56px}
}
