<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Event</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="onAddEvent(f.value)" #f="ngForm">
    <ion-item>
      <ion-label floating>Event Name</ion-label>
      <ion-input type="text" name="eventName" ngModel required></ion-input>
    </ion-item>
    <ion-item class="paddingIonItem">
   <!--   <ion-label floating>Event Category</ion-label>
      <ion-input type="text" name="eventCategory" ngModel required></ion-input>
-->

       <ion-label flaoting>Event Category</ion-label>

<ion-select name="eventCategory" ngModel required >
    <ion-option *ngFor="let cat of categories" value="{{cat.ID}}" >{{cat.Name}}</ion-option>
</ion-select>

    </ion-item>
    <ion-item>
      <ion-label floating>Event Location</ion-label>
      <ion-input type="text" name="eventLocation" ngModel required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Event City</ion-label>
      <ion-input type="text" name="eventCity" ngModel required></ion-input>
    </ion-item>
   
    <ion-item class="paddingIonItem">

      <ion-label flaoting>Agent Name</ion-label>

<ion-select name="agentName" ngModel required >
    <ion-option *ngFor="let agent of agentsFirebase | async" value="{{agent.agentID}}" >{{agent.agentName}}</ion-option>
</ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Event Date</ion-label>
      <ion-datetime type="text" name="eventDate" displayFormat="MMM DD YYYY" ngModel required></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label floating>Event Time</ion-label>
      <ion-datetime type="text" name="eventTime" displayFormat="h:mm A" pickerFormat="h mm A" ngModel required></ion-datetime>
    </ion-item>
    <button ion-button block type="submit" [disabled]="!f.valid">Add Event</button>
  </form>
</ion-content>
