page-event-list {

}


.iconButtonCard{

}

.locationText{
    padding-top: 10px;
    padding-left: 0px;
    flex-grow: 3;
    vertical-align: -webkit-baseline-middle;
    white-space: nowrap;
    overflow: hidden;
}
.eventTileInfoRowCss{
    line-height: 0.5;
}